/* styles.css */
:root {
  --primary-color: #2255b0;
  --secondary-color: #f0f0f0;
  --accent-color: #ff6600;
  --line-height: 1.6;
  --font-headings: 'Montserrat', 'Arial Black', sans-serif;
  --font-text: 'Open Sans', 'Roboto', sans-serif;
  --font-size-base: 16px;
}

body {
  font-family: var(--font-text);
  background-color: #fdfeff;
  margin: 0;
  padding: 0px;
  font-size: var(--font-size-base);
}

header {
  display: grid; 
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  color: var(--primary-color);
}

header > * {
  margin: 10px;
}

#store-logo {
  width: 270px;
}

.search-bar {
  display: flex;
  padding: 8px;
  font-size: 16px;
  width: 90%;
  height: 40px;
}

.defeault-search {
  display: block;
}

.alternate-search {
  display: none;
  justify-content: center;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  background-color: var(--secondary-color);
  padding-left: 0px;
  padding-right: 0px;
}

#search-input {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  font-style: italic
}

#search-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.account-info {
  text-align: right;
  margin-left: 0px;
  margin-right: 0px;
}

.account-info a {
  text-align: right;
  padding: 10px;
  text-decoration: none;
}

.material-symbols-outlined {
  font-size: 20px;
  vertical-align: middle;
}

.nav-bar {
  background-color: var(--secondary-color);
}

.nav-links {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 15px 10px;
  margin-left: 10px;
}

.nav-links a:hover {
  outline: 1px solid var(--secondary-color);
}

#main-banner {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 500px;
  background-image: url("../../src/assets/article_img.jpg");
  background-size: cover;
  background-position: center;
}

.article-text {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.article-text > h1 {
    color:var(--primary-color);
}

.article-text > p {
  line-height: var(--line-height);
  color: gainsboro;
}

.article-buttons > button {
  background: none;
  color: gainsboro;
  border: 2px solid white;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  margin: 4px;
}

.article-buttons > button:hover {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  transition: 600ms;
}

.article-buttons > button a {
  color: gainsboro;
  text-decoration: none;
}

#featured-products {
  margin: 20px;
  text-align: center;
}

#featured-products h1 {
  display: inline-block;
  text-align: center;
  color: var(--primary-color);
  line-height: var(--line-height);
  border-bottom: 2px solid var(--accent-color);
  width: 30%;
  margin: 0px;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.product-item {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.product-item button {
  background: none;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}

.product-item button:hover {
  background-color: var(--accent-color);
  color: white;
  transition: 400ms;
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

#by-category {
  margin: 20px;
  text-align: center;
}

#by-category h1 {
  display: inline-block;
  text-align: center;
  color: var(--primary-color);
  line-height: var(--line-height);
  border-bottom: 2px solid var(--accent-color);
  width: 30%;
  margin: 0px;
  margin-bottom: 40px;
}

#carousel {
  display: flex;

}

.category-grid {
  display: grid;
  grid-template-columns: repeat(12, 15%);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 20px;
  position: relative;
}

.category-navigation {
  width: 40px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.category-navigation button {
  background: none;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  padding: 10px 15px;
  cursor: pointer;
  margin: 0px 10px;
}

.category-grid::-webkit-scrollbar {
  display: none;
}

.category-item {
  scroll-snap-align: start;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.category-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#by-brand {
  margin: 20px;
  text-align: center;
}

#by-brand h1 {
  display: inline-block;
  text-align: center;
  color: var(--primary-color);
  line-height: var(--line-height);
  border-bottom: 2px solid var(--accent-color);
  width: 30%;
  margin: 0px;
  margin-bottom: 40px;
}

.brand-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: center;
}

.brand-item {
  padding: 10px;
  text-align: center;
  background-color: white;
  object-fit: contain;
}

.brand-item img {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  width: 100%;
}

#services-overview {
  padding: 20px;
  background-color: var(--secondary-color);
  text-align: center;
}

#services-overview h1 {
  display: inline-block;
  color: var(--primary-color);
  border-bottom: 2px solid var(--accent-color);
  width: 30%;
  margin-bottom: 20px;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.service-item {
  padding: 10px;
  text-align: left;
}

.service-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.service-item h3 {
  color: #333333;
  margin-bottom: 10px;
}

.service-item p {
  line-height: var(--line-height);
  color: #333333;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
}

#menu {
  display: none;
  font-size: 24px;
  justify-content: center;
}

@media (max-width: 768px) {
  header {
    color: var(--primary-color);
  }

  #menu {
    display: flex;
    cursor: pointer;
  }

  .search-bar {
    width: 100%;
  }

  .default-search {
    display: none;
  }

  .alternate-search {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  
  .active {
    display: flex;

  }

  .nav-links a {
    margin: 10px 0;
  }

  #main-banner {
    height: 300px;
  }

  :root {
    --font-size-base: 14px;
  }
}

@media (max-width: 600px) {
  #store-logo {
    width: 200px;
  }

  :root {
    --font-size-base: 12px;
  }
}